#header
{  
	text-align:left;
}

h1, h2
{
    text-align:center;
    color:rgb(53,148,35);
}

h1
{
	font-size:large;
    margin-top:0px;
    padding-top:0px;
	padding-bottom:5px;
}

.main_content
{
    margin-left:15%;
    margin-right:15%;
}

#appointments
{
	background:rgb(128,247,105);
	border: thin solid rgb(53,148,35);
}

#listtimes
{
	background:rgb(222,193,205);
	border: thin solid rgb(53,148,35);
	margin-top:10px;
	padding:5px;
}

#classes, #demos
{
	margin-top:10px;
    background:rgb(231,230,205);
	border: thin solid rgb(53,148,35);
	padding:5px;
	width:47%;
}

#classes
{
	display:inline;
	float:left;
    background:rgb(231,230,205);
}

#demos
{
	display:inline;
	float:right;
    background:rgb(222,193,205);
}


#appointments h3, #classes h3, #demos h3, #listtimes h3
{
    text-align:center;
}

.input_box
{
	background: white url(bg-box4.gif) top left repeat-x;
	border-width:1px;
	border-style: solid;
	border-bottom-color: #8bbc82;
	border-left-color: rgb(53,148,35);
	border-right-color: #8bbc82;
	border-top-color: rgb(53,148,35);
	color:#005500;
	padding-left:5px;
}

#classes .input_box
{
	color:#666600;
	border-bottom-color: #CCCCCC;
	border-left-color: #666600;
	border-right-color: #CCCCCC;
	border-top-color: #666600;
}

#demos .input_box, #listtimes .input_box
{
	color:#A52A2A;
	border-bottom-color: #CCCCCC;
	border-left-color: #A52A2A;
	border-right-color: #CCCCCC;
	border-top-color: #A52A2A;
}